<section class="py-5">
    <h1 class="text-light mt-3 pt.3">Sorry, Maybe you dont have enough money</h1>
    <p class="text-light mt-3">Check your account balance, and try again</p>
    <a
        href="/"
        class="btn btn-primary bg-black py-2 px-4"
    >
        back to home
    </a>
</section>