<section class="py-5">
    <div class="row">
        <div class="col-md-6 text-center text-light">
            <h1 class="display-3 mt-3 pt-5">
                Web developer books 
            </h1>
            <p class="lead">Web to sale books online</p>
            <form action="/create-checkout-session" method="POST">
                <button
                    type="submit"
                    class="btn btn-primary bg-black py-2 px-4"
                    id="checkout-button"
                >
                    Checkout
                </button>
                
            </form>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/cover.jpg" alt="book cover" class="img-fluid img-thumbnail" style="width: 450px; height: 550px;" >
        </div>
    </div>
</section>