<section class="py-5">
    <h1 class="text-light mt-3 pt-3">
        Thank You For pay
    </h1>
    <p class="text-light mt-3">
        The book will send in your email
    </p>
    <a
        href="/"
        class="btn btn-primary bg-black py-2 px-4"
    >
        back to home
    </a>
</section>